body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

input {
    padding: 10px;
    width: 80%;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f9f9f9;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.completed {
    opacity: 0.5;
    pointer-events:visibleStroke; 
}